Chunk this document page into semantic segments.

Document: {{ document_name }}
Page {{ page.page }}:

{{ page.raw_text }}

Taking into account the overall page content split the page into smaller chunks which encapsulate fully an idea or concept.

RULES:
- Each chunk should be at least 500 words,
- The document should have MAX 4 chunks per page,
- Each chunk should be a coherent piece of text, not cutting off mid-sentence, mid paragraph, mid-idea, mid-concept, or
mid-list, or mid-table.
